fly.toml
.git/
*.sqlite3
__pycache__
.project
*.pdf
*.mp4
.pydevproject
venv/
converter/migrations/*
!converter/migrations/__init__.py
.idea
.env
logs
Dockerfile
docs

*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.DS_Store
.sass-cache
.vagrant/
dist
env