<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new book</title>
</head>
<body>
    {% block content %}
        <h1>Create new book</h1>
        <form method = 'POST' enctype="multipart/form-data">
            {% csrf_token %}
            <table style="border-radius:10px;background-color:#FFFF99;">
                {% for field in upload_form %}
                <tr>
                    <th>{{field.label}}</th>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
            </table>
            <button type="submit">Submit</button>
        </form>
    {% endblock %}
</body>