{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Speakeasy</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <script src="https://kit.fontawesome.com/05ccc3741f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
</head>

<style>
    main {
        margin: 20px;
    }
</style>

<body class="body_ix">
{% include "bases/nav.html" %}
<!-- {% include "bases/side_nav.html" %} -->

<main class="content_ix">

</main>

{% include "bases/footer.html" %}
</body>
</html>